version: 2

jobs:
    build-and-test:
        macos:
            xcode: "9.4.1"
        steps:
            - checkout
            - run:
                name: Run tests
                command: set -o pipefail && xcodebuild clean build test -project Daylight.xcodeproj -scheme "Daylight" -destination 'platform=iOS Simulator,name=iPhone 8' | xcpretty --color && exit ${PIPESTATUS[0]}
workflows:
  version: 2
  build-and-test:
      jobs:
          - build-and-test
